node_modules/

# build artifacts used only during packaging
lib/build/
lib/json-schema.json
lib/index.d.ts
lib/index.flow.js
lib/LICENSE
lib/CHANGELOG.md
lib/README.md

# https://github.com/maxlath/backup-github-repo
/repo-backup
